# temp files
cache/
artifacts/
addresses.json

# operating system files
.DS_Store

# env files
.env

# Python cache files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# other
contracts-client.txt